.button{
    display: inline-block;
    width: 100%;
    height: 3rem;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.button_blue{
    background: #29B6F6;
}

.affirm{
    width: 90%;
    margin: 3rem auto;
}
.affirm input{
    display: inline-block;
    width: 100%;
    height: 3rem;
    background: #FFA726;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border:none;
}