/*主体内容*/
.path{
	border-bottom: 1px solid #E8E8E8;
	background: #fff;
	cursor:default;
	height: 5.5rem;
	/*font-size: .7rem;*/
}
.p_top{
	text-align:left;
	height:2rem;
	line-height: 2rem;
}
.p_box{
	overflow: hidden;
	width:90%;
	height: 2.9rem;
	float: left;

}
.p_box .destination{
	overflow: hidden;
	width: 70%;
	position: absolute;
}
.p_box .destination>div{
	width:33%;
	float: left;
	text-align: center;
}
.destination span{
	color:#6B676B;
}
.d2:after{
	content: '';
	display: block;
	clear: both;
}
.destination i{
	display: inline-block;
	margin-top: 1.2rem;
	width:60%;
	border-bottom:1px solid #bbb;
	position: relative;
}
.destination b{
	display: inline-block;
	position: absolute;
	top:1.5rem;
	right: .5rem;
}
.d2{
	overflow: hidden;
	position: relative;
	height: 3rem;
	display: inline-block;

	/*width: 2.25rem;*/
	/*height: 2rem;*/
	/*display: inline-block;*/
	/*float: left;*/
	/*position: relative;*/
	/*margin-left: .5rem;*/
}
.d2 .f-lst-line{
	position: absolute;
	top: 0;
	width: 100%;
	display: inline-block;
	right: 0;
}

.f-lst-line:after {
	right: 0;
	top: -.35rem;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .2rem .2rem .2rem 0;
	border-color: transparent transparent #ccc;}
.f-lst-line:after, .f-lst-line:before {
	content: '';
	position: absolute;
}
.f-lst-line:before {
	left: 0;
	top: 0;
	width: 2.2rem;
	height: .05rem;
	background: #ccc;
}
.d2 .turn_chance{
	position: absolute;
	top:26%;
	left:34%;
}
/*价格*/
.price{
	position: relative;
}
.price strong{
	font-weight: 400;
	font-size: .5rem;
}
/*+1天*/
.price b{
	position: absolute;
	top:-23%;
	left:-64%;
	color:#6B676B;
}

/*箭头*/
.identifying{
	position: relative;
	top: .8rem;
	width: 10%;
	height: 1.4rem;
}
.identifying span{
	display: inline-block;
	width: .7rem;
	height: 1.5rem;
	margin-right: .5rem;
	position: absolute;
	top:0;
	right: 0;
	overflow: hidden;
}
.hidden_box{
	margin-left:15% ;
	width: 70%;
	height: 2.8rem;
	background: #fff;
	display: none;
}
/**********************   b 取消加粗*******************/
b{
	font-weight: 100;
}
/*************隐藏页面******机票详情*********/
.draw_up{
	overflow: hidden;
	color: #64818B;
	width:98%;
	height: 3.5rem;
	margin: .2rem auto;
	background: #fff;
	border-radius: 3px;
	display: block;
}
.draw_up>.lf{
	margin-top: .8rem;
	text-align: left;
}
.draw_up .lf b:last-child{
	margin-left: 2rem;
}
.draw_up .rt{
	height: 3rem;
	margin: .8rem .3rem 0 0;

}
.draw_up .rt>div{
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	background: #FFA726;
	text-align: center;
	border-radius: 3px;
}
.draw_up .rt>div a{
	color: #fff;
}

/*退改签弹出框*/
.pop_up{
	position: relative;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
}

.pop_box{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:rgba(255,255,255,0.9);
	/*border-radius: 3px;*/
}
/*叉的位置*/
.pop_box>.close{
	position: absolute;
	right: 1rem;
	top: .5rem;
}

.pop_box .top{
	width: 100%;
	height: 3rem;
	padding: .5rem;
	text-align: left;
	color: #29b6f6;
	font-size: .5rem;
}
.pop_box .container{
	width: 90%;
	color: #6E858B;
	margin: 0 auto;
}
.pop_box .container>ul{
	width: 100%;
	clear: both;
	float: left;
	display: flex;
	padding: .5rem 0;
	border: 1px solid #aaaaaa;
}
.pop_box .container>ul li{
	vertical-align:middle;
	float: left;
}
.pop_box .container>ul>li:first-child{
	border-right: 1px solid #aaa;
}
.pop_box .container>ul li:first-child{
	flex: 1;
}
.pop_box .container>ul li:last-child{
	flex: 2;
	text-align: left;
	padding-left: .5rem;
}
.pop_box .container .bottom_no{
	border-bottom: none;
}

.luggage{
	font-size: .6rem;
	width: 90%;
	margin:  0 auto;
}
.luggage_title{
	text-align: left;
	margin: 1rem 0 .4rem 0;
	font-size: .7rem;
}
.luggage_box{
	display: flex;
	border: 1px solid #aaa;
	height: 2.5rem;
	line-height: 2.5rem;
}
.luggage_box .box_lf{
	flex: 1;
	border-right: 1px solid #aaa;
}
.luggage_box .box_rt{
	flex: 2;
}
	/************ 底部 ************/
.clear:after{
	content: '';
	display: block;
	clear: both;
}
.screen>div,.time>div,.cost>div{
	position: relative;
	width: 4rem;
	margin: 0 auto;
}
.screen strong{
	left: 0;
}
.time strong{
	left: 0;

}
.cost strong{
	left: 0;
}